body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 200px;
}

h1 {
  font-size: 20px;
  margin: 10px 0;
}

#taskInput {
  margin-bottom: 10px;
}

#taskList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.removeButton {
  font-size: 10px;
  padding: 2px 5px;
}

